@using Buho.Models
@model ProveedorCLS
@{
    Page.Title = "Agregar Proveedor";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div class="col-md-10 m-auto">

    @if (ViewBag.Error != null)
    {
        <script>alert('@ViewBag.Error.ToString()')</script>
    }

    @using (Html.BeginForm("Agregar", "Proveedor", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(p => p.nombre)
            @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
            @Html.ValidationMessage("nombre", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(p => p.apellido)
            @Html.TextBoxFor(p => p.apellido, new { @class = "form-control" })
            @Html.ValidationMessage("apellido", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(p => p.dui)
            @Html.TextBoxFor(p => p.dui, new { @class = "form-control" })
            @Html.ValidationMessage("dui", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(p => p.direccion)
            @Html.EditorFor(p => p.direccion, new { htmlAttributes=new { @class = "form-control" } })
            @Html.ValidationMessage("direccion", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(p => p.email)
            @Html.TextBoxFor(p => p.email, new { @class = "form-control" })
            @Html.ValidationMessage("email", new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(p => p.razonSocial)
            @Html.TextBoxFor(p => p.razonSocial, new { @class = "form-control" })
            @Html.ValidationMessage("razonSocial", new { @class = "text-danger" })
        </div><br />
              <div style="margin:auto">
                  <input type="submit" class="btn btn-primary" value="Agregar" />
                  @Html.ActionLink("Regresar", "Index", "Proveedor", null, new { @class = "btn btn-danger" })
              </div>
    }
</div>



